body{
    background-color: white; 
    color: black;
    text-align: center;
    font-family: Arial;
}

p{
   
}

h1{
    font-size: 45px;
    text-align: center
}
.circle {
  height: 110px;
  width: 110px;
  background-color: palegreen;
  border-radius: 50%;
}
button {
    margin: 10px;
}
