body{
    background-color: white; 
    color: black;
    text-align: center;
    font-family: Arial;
}

p{
   
}

h1{
    font-size: 45px;
    text-align: center
    font-family: Arial;

}
.circle1 {
  height: 110px;
  width: 110px;
  background-color: paleturquoise;
  border-radius: 50%;
  border: 5px solid black; 
  margin: 50px;
}
.circle2 {
  height: 110px;
  width: 110px;
  background-color: palegreen;
  border-radius: 50%;

<<<<<<< HEAD
  margin: 10px;
  margin-bottom:70px;
  margin-top: auto;
=======
  margin: 50px;
  margin-bottom:40px;
>>>>>>> parent of c1b98c9 (marrgin)
}

.circle2:hover {
    
    border: 5px solid black; 

}

.circle3 {
  height: 110px;
  width: 110px;
  background-color: mediumpurple;
  border-radius: 50%;
  border: 5px solid black; 
  margin: 50px;
}
button {
    margin: 10px;
}
.container1{
display: flex;
<<<<<<< HEAD
justify-content: center;}
=======
justify-content: center;
}



.buttonstyle {
    
    background: transparent; 
    border:  2px solid white;
}
    