body{
    background-color: white; 
    color: black;
    text-align: center;
    font-family: Arial;
}

p{
   
}

h1{
    font-size: 45px;
    text-align: center
}
.circle1 {
  height: 110px;
  width: 110px;
  background-color: paleturquoise;
  border-radius: 50%;
}
.circle2 {
  height: 110px;
  width: 110px;
  background-color: palegreen;
  border-radius: 50%;
}
.circle3 {
  height: 110px;
  width: 110px;
  background-color: mediumpurple;
  border-radius: 50%;
}
button {
    margin: 10px;
}
.container1{
display: flex;

justify-content: center}
